{%load static%}
<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <link href="{% static 'css/header.css'%}" rel="stylesheet">
   <script src="{% static 'js/jquery-3.6.0.min.js'%}" type="text/javascript"></script> 
   {% block extrahead%}
   {% endblock extrahead%}
</head>

<header>
    <h1>Lab</h1>
    <nav class="nav">
        <ul class="head-list">
            <li class="head-list-item"><a href="{% url 'crud:home' %}">HOME</a></li>
            <li class="head-list-item"><a href="{% url 'crud:mypost' %}">MyPOST</a></li>
            <li class="head-list-item"><a href="{% url 'crud:create' %}">New</a></li>
        </ul>
    </nav>
</header>

<body>
{% block content%}
{% endblock content%}
</body>
</html>
